html{
    background-color: grey;
}
body{
    background:white;
    width:800px;
    height:800px;
    margin:25px auto;
}
.row{
    width:800px;
    height:100px;
    float: left;
    text-align: center;
    font-size: 75px;
    
   
}
.column
{
    height:100px;
    width:100px;
    float: left;
    
}
.column:hover{
    background-color:#919191;
}
.black{
    background-color:black;
}